{% if session.collection_exists %}
<h2>Add Sources</h2>
<div>
    <div style="display: flex; height: 2rem;">
        <input type="text" id="input-field" style="flex: 1;" class="add-source-input" placeholder="You can separate multiple sources with a space.">
        <button id="add-button" class="add-source-button">Add</button>
    </div>
    
    <div id="display-area" class="add-sources-display">
        <div id="display-area-inner" style="padding: 1rem; word-wrap: break-word;">

        </div>
    </div>
    
    <form id="submit-form" action="/add_sources" method="post">
        <input type="hidden" id="sources-to-add" name="sources-to-add">
        <input type="hidden" id="sources-citations" name="sources-citations">
        <input id="submit-button" type="submit" value="Submit Sources" style="width: 100%;" class="button" onclick="openModal('modal-2', false)" disabled>
    </form>
    
    <script src="{{ url_for('static', filename='add_sources.js') }}"></script>

    <div id="modal-2" class="modal">
        <div class="modal-body">
            <h2>Please wait while the sources are being processed.</h2>
            <img src="{{ url_for('static', filename='three-dots.svg') }}" class="three-dots" height="10" />
        </div>
    </div>
</div>
{% endif %}