<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icon.ico') }}">
    <title>iCitation</title>
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='banner.png') }}" alt="iCitation" height="50" class="banner">
    </header>
    {% include 'create_collection.html' %}
    <div class="page-content">
        <div class="page-column">
            {% include 'sentences.html' %}
            {% include 'input_text.html' %}
        </div>
        <div class="page-column">
            {% include 'relevant_sources.html' %}
            {% include 'sources.html' %}
            {% include 'add_sources.html' %}
            {% include 'delete_collection.html' %}
        </div>
    </div>

    <script src="{{ url_for('static', filename='modal.js') }}"></script>
    <script src="{{ url_for('static', filename='copy_citation.js') }}"></script>
</body>
</html>