<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>iCitation</title>
</head>
<body>
    <h1>iCitation</h1>
    <div style="display: flex;">
        <div style="width: 50%; padding: 2rem; display: flex; flex-direction: column;">
            {% include 'sentences.html' %}
            {% include 'input_text.html' %}
        </div>
        <div style="width: 50%; padding: 2rem; display: flex; flex-direction: column;">
            {% include 'relevant_sources.html' %}
            {% include 'sources.html' %}
            {% include 'add_sources.html' %}
        </div>
    </div>
</body>
</html>