{% if session.relevant_sources and session.collection_exists %}
<div style="margin-bottom: 4rem;">
    <h2>Relevant Sources</h2>
    <span class="relevant-sources-target">{{ session.target_sentence }}</span>
    <br><br>
    <span class="note">Similar passages with scores (lower means more similar):</span>
    <br><br>
    {% for source, passages in session.relevant_sources.items() %}
        <div style="display: flex;">
            {% if session.sources[source] %}
            {% include 'citation.html' %}
            {% endif %}
            <a href="{{ source }}" class="source-link">{{ source }}</a>
        </div>
        <br>
        {% for passage in passages %}
            <div style="padding-left: 2rem; text-align: justify;">
                <span style="font-weight: bold;">
                    {{ "%0.2f "|format(passage[0]) }}
                </span>
                <span>
                    {{ passage[1] }}
                </span>
            </div>
            <br>
        {% endfor %}
    {% endfor %}
</div>
{% endif %}